<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
	<ul class="social-media-list">
	  <li><a href="https://www.linkedin.com/in/emir-kursad-ek-ulusoy-09113b26"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">emir-k-ulusoy</span></a></li>
	  <li><a href="mailto:emir.kursad.ulusoy@gmail.com"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#googleplus"></svg> <span class="username">emir.kursad.ulusoy@gmail.com</span></a></li>
	  <li><a href="https://github.com/emirkulusoy"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">emirkulusoy</span></a></li>
	</ul>
    </div>
  </div>
</footer>
</body>
</html>
